version: "2.2"
services: 
  zentao:
    image: idoop/zentao:pro
    container_name: zentaopro
    ports:
      - "80:80"
      - "3306:3306"
    # if web response code: 310 ERR_TOO_MANY_REDIRECTS, please use host mode.
#    network_mode: "host"
    environment:
    # specifies you own account and password.
      USER: "root"
      PASSWD: "123456"
      BIND_ADDRESS: "false"
    extra_hosts:
      - "smtp.exmail.qq.com:163.177.90.125"
    volumes:
    # specifies the path replace "./data".
      - ./data:/opt/zbox/
    restart: always
